@import "uikit/css/uikit";
@import "compass";

$bodyTextColor: #333;
$subTextColor: #aaa;
$linkTextColor: #3baa24;

body{
    background: #f6f6f6;
    font: 12px/18px "Lantinghei SC","Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
}

::selection {
    background: #ffb7b7; /* Safari */
    }
::-moz-selection {
    background: #ffb7b7; /* Firefox */
}

.select2-container{
    width: 300px;
}

.who-container{
    width: 1178px;
    margin: 42px auto;
    @media (max-width: 800px) {
        padding: 0 10px;
        width: 100%;
    }
    h2{
        font-size: 26px;
        line-height: 42px;
        color: $linkTextColor;
    }
    a{
        color: $linkTextColor;
    }
}
.who-card-page{
    background: #fff;
    padding: 55px 100px;
    &.page-wandou{
        padding: 55px 40px;
    }
    width: 980px;
    margin: 0 auto;
    @media (max-width: 800px) {
        padding: 30px 20px;
        width: auto;
    }
    h2{
        line-height: 26px;
        font-size: 20px;
        color: #3BAA24;
        margin: 5px 0;
        margin-top: 20px;
    }
    .who-columns-2{
        &>div,&>dl{
            width: 300px;
            display: inline-block;
            .who-product & {
                width: 49%;
            }
        }
    }
    @media (max-width: 800px) {
        .uk-description-list-horizontal > dt {
            display: inline-block;
        }
        .uk-description-list-horizontal > dd {
            float: none;
            display: inline-block;
        }
        .who-columns-2 > div, .who-columns-2 > dl {
            width: auto;
            margin: 5px 0;
            display: inline;
        }
        .who-card-page .uk-description-list-horizontal > dd::after {
            content: " \00a0\00a0\/\00a0\00a0 ";
        }
    }
}

.who-wandou-left{
    margin-right: 55px;
    float: left;
    width: 150px;
    overflow: hidden;
    img, .img{
        width: 126px;
        height: 126px;
        border-radius: 45px;
        background-size: cover;
        background-position: 50%;
    }
}
.who-wandou-right{
    float: left;
    width: 650px;
}
@media (max-width: 800px) {
    .who-wandou-left{
        float: none;
    }
    .who-wandou-right {
        float: none;
        margin-top: 20px;
        width: auto;
    }
}

.who-home{
    .who-btn{
        float: right;
        background: none;
    }
}

.who-avatar-list{
    margin-left: -24px;
    li{
        float: left;
        margin-left: 24px;
        a{
            display: block;
            position: relative;
            width: 126px;
            height: 126px;
            .img{
                border-radius: 45px;
                width: 126px;
                height: 126px;
                overflow: hidden;
                background-size: cover;
                background-position: 50%;
            }
            span{
                position: absolute;
                bottom: 0;
                right: 0;
                line-height: 20px;
                background-color: $linkTextColor;
                padding: 0 5px;
                color: #fff;
                border-radius: 5px;
            }
        }

        p{
            line-height: 28px;
            font-size: 14px;
            text-align: center;
        }
    }
}

.who-search-block{
    ul{
        list-style: none;
        padding: 0;
        li>a>div{
            float: left;
        }
    }
    li a .block-img{
        display: table;
        float: left;
        margin-bottom: 20px;
        .img{
            border-radius: 45px;
            width: 168px;
            height: 168px;
            background-size: cover;
            background-position: 50%;
        }
    }
    li a .block-color{
        width: 168px;
        height: 168px;
        border-radius: 45px;
        background: #FFF;
        text-align: center;
        color: #fff;
        display: table;
        .who-placehold-item-title {
            display: table-cell;
            vertical-align: middle;
            line-height: 24px;
            font-size: 18px;
        }
    }
    .block-info {
        padding: 30px;
    }
    @media (max-width: 800px) {
        .block-info{
            padding: 0 20px;
            width: 72%;
        }
        li a .block-color, li a .block-img .img{
            border-radius: 15px;
            width: 100px;
            height: 100px;
        }
        li a .block-color .who-placehold-item-title{
            line-height: 20px;
            font-size: 14px;
        }
        h3, .uk-h3 {
            margin: 6px 0;
        }
        h4, .uk-h4 {
            margin: 5px 0;
        }
    }
}

.who-color-blocks {
    margin-left: -34px;

    li{
        float: left;
        margin: 22px 0;
        margin-left: 34px;
        position: relative;
        cursor: pointer;
        a{
            .who-placehold-item {
                width: 168px;
                height: 168px;
                border-radius: 45px;
                background: #FFF;
                text-align: center;
                color: #fff;
                display: table;
                word-wrap: break-word;
                word-break: break-word;

                .who-placehold-item-title {
                    display: table-cell;
                    vertical-align: middle;
                    line-height: 24px;
                    font-size: 18px;
                }
                .who-placehold-item-subtitle {
                    font-size: 14px;
                    position: absolute;
                    bottom: 15px;
                    display: block;
                    height: 28px;
                    width: 100%;
                    left: 0;
                }
                @media (max-width: 800px) {
                    border-radius: 45px;
                    width: 126px;
                    height: 126px;

                    .who-placehold-item-title {
                        line-height: 20px;
                        font-size: 15px;
                    }
                    .who-placehold-item-subtitle {
                        font-size: 12px;
                    }
                }
            }
            p{
                line-height: 40px;
                height: 40px;
                margin: 0;
                color: #999;
            }
        }
    }

    @media (max-width: 800px) {
        margin-left: -24px;
        li{
            margin: 12px 0;
            margin-left: 24px;
        }
    }
    li:nth-child(8n) {
        a .who-placehold-item {
            background: #c38867;
        }
    }
    li:nth-child(8n+1) {
        a .who-placehold-item {
            background: #ffc247;
        }
    }
    li:nth-child(8n+2) {
        a .who-placehold-item {
            background: #3baa24;
        }
    }
    li:nth-child(8n+3) {
        a .who-placehold-item {
            background: #4cc9b6;
        }
    }
    li:nth-child(8n+4) {
        a .who-placehold-item {
            background: #4e9ce6;
        }
    }
    li:nth-child(8n+5) {
        a .who-placehold-item {
            background: #ff7272;
        }
    }
    li:nth-child(8n+6) {
        a .who-placehold-item {
            background: #ff8f4b;
        }
    }
    li:nth-child(8n+7) {
        a .who-placehold-item {
            background: #9777d6;
        }
    }
}


.uk-description-list-horizontal > dd {
    margin-left: 0;
    float: left;
}
.uk-description-list-horizontal > dt {
    width: auto;
    font-weight: normal;
    color: #999;
    margin-right: 10px;
}
.uk-description-list-horizontal {
    line-height: 30px;
}
.uk-button{
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.uk-navbar-content, .uk-navbar-brand, .uk-navbar-toggle{
    height: 21px;
}
.uk-form-horizontal .uk-form-label {
    width: 90px;
}
.uk-form-horizontal .uk-form-controls {
    margin-left: 90px;
    width: 300px;
    input, textarea{
        width: 100%;
        border-radius: 5px;
    }
    .short-input{
        width: 90px;
        margin-right: 10px;
        display: inline-block!important;
    }
    .long-input{
       width: 195px;
       display: inline-block!important;
    }
}

.uk-form-row .who-social-row{
    margin: 5px 0;
}
// Custom components
.who-subtitle {
    font-size: 20px;
    line-height: 16px;
    color: #3BAA24;
}
.who-navbar{
    height: 63px;
    font-size: 14px;
    border-bottom: 1px solid #DDD;
    min-width: 800px;

    &.fixed{
        position: fixed;
        z-index: 1000;
        width: 100%;
        top: 0;
        .home-navbar-export, .home-navbar-avatar{
            display: none;
        }
        .home-hotquery{
            display: block;
            display: block;
            float: left;
            padding: 10px;
        }
    }
    .who-navbar-content{
        display: inline-block;
        padding: 21px 30px;
        border-left: 1px solid #d9d9d9;
        i{
            margin-right: 5px;
        }
    }
    .uk-navbar-brand{
        border:none;
    }
    .home-navbar-export{
        .uk-button{
            height: 21px;
            min-height: 21px;
            line-height: 21px;
        }
    }
    .navbar-avatar{
        color: $linkTextColor;
        cursor: pointer;
        img{
            width: 35px;
            height: 35px;
            border-radius: 5px;
            position: absolute;
            margin-top: -7px;
        }
        span{
            padding-left: 45px;
        }
    }
    .home-navbar-search{
        input{
            height: 21px;
            padding: 0;
            border: none;
            background: none;
            line-height: 21px;
            width: 200px;
        }
    }
    @media (max-width: 800px) {
        min-width: 460px;
        .uk-navbar-brand{
            background: url(http://img.wdjimg.com/who/logo.png) no-repeat no-repeat;
            margin: 21px 5px;
            img{
                display: none;
            }
        }
        .navbar-avatar{
            padding: 21px 5px!important;
        }
    }
}

.who-btn{
    background: #FFF;
    color: #3BAA24;
    height: 42px;
    line-height: 42px;
    padding: 0 35px;
    font-size: 14px;
}

.who-primary-btn{
    color: #fff;
}


footer {
margin-top: 45px;
padding: 35px 0 36px;
border-top: 1px solid #E5E5E5;
text-align: center;
    a{
        color: #3BAA24;
    }
}

// Generic
* {
	outline: none !important;
}

@media (max-width: 768px) {
	.row { margin-right: 0; margin-left: 0; }
}
.ng-animate-fadedown-noleave {
    &.ng-enter {
        -webkit-animation: fadeDownEnter .3s linear; /* Safari 4+ */
        -moz-animation:    fadeDownEnter .3s linear; /* Fx 5+ */
        -o-animation:      fadeDownEnter .3s linear; /* Opera 12+ */
        animation:         fadeDownEnter .3s linear; /* IE 10+ */
    }
}

@include keyframes(fadeDownEnter) {
    from {
        @include transform(translate3D(0,-15px,0));
        opacity: 0;
    }
    to {
        @include transform(translate3D(0,0,0));
        opacity: 1;
    }
}

.repeater.ng-enter,
.repeater.ng-move {
  -webkit-transition:0.2s linear all;
  transition:0.2s linear all;

  opacity:0;
  -webkit-transform:scale(1.15)!important;
  transform:scale(1.15)!important;
}
.repeater.ng-enter.ng-enter-active,
.repeater.ng-move.ng-move-active {
  opacity:1;
}

.repeater.ng-leave {
  -webkit-transition:0.1s linear all;
  transition:0.1s linear all;

  opacity:1;
}
.repeater.ng-leave.ng-leave-active {
  opacity:0;
}
