node_modules
www
.tmp
.sass-cache
.DS_Store
app/bower_components
coverage
platforms
plugins

ionic/.sass-cache
ionic/hooks
ionic/.tmp
ionic/merges
ionic/plugins
ionic/test
ionic/www
ionic/app/bower_components