<div class="who-search-block">
    <h2>与设计相关的团队</h2>
    <ul>
        <li>
            <img src="" alt="">
            <h3>Design</h3>
            <h3>Function Team</h3>
            <p>设计王大军放大放大放大啊是否大幅但是案发德萨放大放大啊范德萨范德萨发的萨芬德萨发四大放大是否的萨芬德萨发发大水</p>
        </li>
    </ul>
</div>

<div class="who-search-people">
    <h2>与设计相关的豌豆</h2>
    <ul>
        <li>
            <img src="" alt="">
            <h3>刘亚平</h3>
            <h3>Product Designer</h3>
            <p>设计王大军放大放大放大啊是否大幅但是案发德萨放大放大啊范德萨范德萨发的萨芬德萨发四大放大是否的萨芬德萨发发大水</p>
        </li>
        <li>
            <img src="" alt="">
            <h3>刘亚平</h3>
            <h3>Product Designer</h3>
            <p>设计王大军放大放大放大啊是否大幅但是案发德萨放大放大啊范德萨范德萨发的萨芬德萨发四大放大是否的萨芬德萨发发大水</p>
        </li>
    </ul>
</div>